.Counseling13 .btn {
  width: 62px;
  height: 24px;
  line-height: 24px;
  background-color: #3d91f4;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  border-radius: 3px;
}
.Counseling13 .main_box {
  padding: 0px 20px 20px 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.Counseling13 .main_box h6.title {
  line-height: 64px;
  font-size: 17px;
  color: #348DF1;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-left: 30px;
  background: url(/imgs/careerArchives/icon_biaoti.png) no-repeat 0px center;
}
.Counseling13 .main_box h6.title p {
  float: right;
  cursor: pointer;
  margin-top: 20px;
}
.Counseling13 .main_box .recording {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: 132px;
}
.Counseling13 .main_box .recording .top {
  height: 90px;
  line-height: 90px;
  text-align: center;
  cursor: pointer;
  width: 66px;
  margin: 0 auto;
}
.Counseling13 .main_box .recording .foot {
  width: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.Counseling13 .main_box .recording .foot p {
  font-size: 14px;
  color: #666;
}
.Counseling13 .main_box .recording .foot p span {
  color: #358ced;
  cursor: pointer;
}
.Counseling13 .main_box .table_box table tr th {
  background-color: #f3f4f8;
  border: 1px solid #ebebeb;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  line-height: 24px;
}
.Counseling13 .main_box .table_box table tr th:nth-child(1) {
  width: 30%;
}
.Counseling13 .main_box .table_box table tr th:nth-child(2) {
  width: 10%;
}
.Counseling13 .main_box .table_box table tr th:nth-child(3) {
  width: 30%;
}
.Counseling13 .main_box .table_box table tr td {
  padding: 10px;
  border: 1px solid #ebebeb;
  line-height: 24px;
}
.Counseling13 .main_box .table_box table tr td span {
  color: #3492f9;
  cursor: pointer;
}
.Counseling13 .main_box .table_box table tr td:nth-child(2) {
  text-align: center;
}
.Counseling13 .main_box .table_box table tr .btnbox_date {
  width: 15%;
  text-align: center;
}
.Counseling13 .main_box .table_box table tr .btnbox_edit {
  width: 10%;
}
.Counseling13 .main_box .table_box table tr .btnbox_del {
  width: 10%;
}
.Counseling13 .main_box .table_box table tr .icon {
  text-align: center;
  cursor: pointer;
}
.Counseling13 .main_box .table_box table tr .icon span {
  cursor: pointer;
  display: inline-block;
  width: 34px;
  height: 20px;
  border: 1px solid #EDEDED;
  border-radius: 5px;
}
.Counseling13 .main_box .table_box table tr .icon_edit span {
  background: url(/imgs/careerManagement/icon_bianjihui.png) no-repeat center center;
}
.Counseling13 .main_box .table_box table tr .icon_edit span:hover {
  background-color: #3A90F3;
}
.Counseling13 .main_box .table_box table tr .icon_del span {
  background: url(/imgs/careerManagement/icon_lajitonghui.png) no-repeat center center;
}
.Counseling13 .main_box .table_box table tr .icon_del span:hover {
  background-color: #FB4945;
}
.Counseling13 .main_box .detail_btn_box {
  margin-bottom: 20px;
  height: 26px;
  line-height: 26px;
}
.Counseling13 .main_box .detail_btn_box p {
  background: url(/imgs/careerManagement/counseling/icon.png) no-repeat 0px center;
  font-weight: 600;
  float: left;
  padding-left: 30px;
}
.Counseling13 .main_box .detail_btn_box .btn_box {
  float: right;
}
.Counseling13 .main_box .detail_btn_box .btn_box .btn {
  float: left;
  margin-left: 16px;
}
.Counseling13 .main_box .page_box {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.Counseling13 .main_box .page_box span {
  line-height: 32px;
  margin-right: 10px;
}
.Counseling13 .mark {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.Counseling13 .mark .card {
  width: 652px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 20;
  margin-left: -326px;
  top: 50px;
  border-radius: 5px;
  background-color: #fff;
}
.Counseling13 .mark .card .card_title {
  line-height: 60px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background: url('/imgs/careerManagement/diagnosis/icon_toubu.png');
}
.Counseling13 .mark .card .card_content {
  padding: 10px 40px;
  padding-bottom: 30px;
  background-color: #fff;
  overflow-y: auto;
}
.Counseling13 .mark .card .card_content p {
  line-height: 30px;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.Counseling13 .mark .card .card_content textarea {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  border: 1px solid #DCDFE6 !important;
}
.Counseling13 .mark .card .card_content .textarea_content {
  height: 200px;
}
.Counseling13 .mark .card .card_content textarea::-webkit-input-placeholder {
  color: #666;
  font-size: 12px;
}
.Counseling13 .mark .card .card_content .text_targe {
  height: 200px;
}
.Counseling13 .mark .card .card_content .save {
  width: 76px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  background-color: #358ced;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  margin: 20px auto;
}
.Counseling13 .mark .card .card_content .img_box {
  overflow: hidden;
  z-index: 0;
  background-color: #fff;
  border: 1px solid #c0ccda;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  height: 92px;
}
.Counseling13 .mark .card .card_content .img_box img {
  float: left;
  width: 70px;
  height: 70px;
}
.Counseling13 .mark .card .card_content .img_box .del_btn {
  width: 50px;
  height: 24px;
  background-color: #2c8ffc;
  border-radius: 3px;
  float: right;
  text-align: center;
  color: #fff;
  cursor: pointer;
  line-height: 24px;
}
.Counseling13 .mark .card .card_content .detail_img img {
  width: 175px;
  margin-right: 20px;
  cursor: pointer;
}
.Counseling13 .mark .card .card_content .detail_img img:last-child {
  margin-right: 0px;
}
.Counseling13 .mark .card .card_content .detail_img img:hover {
  box-shadow: 0px 0px 10px #666;
}
.Counseling13 .mark .card .close {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 21px;
  right: 22px;
  cursor: pointer;
}
