
.u-header {
  width: 100%;
  height: 89px;
  line-height: 89px;
  font-size: 35px;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #666;
  .left-block {
    width: 260px;
    float: left;
    height: 89px;
    background: #666666;
  }
  .u-title {
    margin-left: 30px;
    float: left;
  }
}

.u-nav {
  width: 260px;
  float: left;
  position: fixed;
  top: 90px;
  left: 0;
  background: rgb(239,246,255);
  height: 100%;
  a {
    display: block;
    width: 230px;
    margin: 0 15px;
    line-height: 65px;
    height: 65px;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid #ccc;
    color:#3399ff
  }
  a.router-link-exact-active.router-link-active {
    width: 100%;
    margin: 0;
    border: 0;
    color: #fff;
    background: #3399ff;
  }
  a:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: 0;
  }
}

.user-wrapper {
  margin-left: 260px;
  height: 100%;
  background: #fff;
  margin-top: 90px;
}

.user-profile {
  .in {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    margin-top: 20px;
    float: left;
    margin-left: 80px;
    font-size: 20px;
    color: #333;
    .in-label {
      float: left;
      min-width: 160px;
      margin-right: 10px;
    }
    .in-text {
      float: left;
      input.text {
        width: 270px;
        height: 30px;
        box-sizing: border-box;
        background: none;
        border: 1px solid #999;
        display: block;
        float: left;
      }
      input.m-text {
        width: 160px;
      }
      input.s-text {
        width: 80px;
        text-align: center;
      }
      .radio {
        padding-left: 25px;
        background: url("~@/assets/user/radio.png") no-repeat left center / 20px auto;
        float: left;
        margin-right: 20px;
        cursor: pointer;
      }
      .radio.active {
        background: url("~@/assets/user/radio-on.png") no-repeat left center / 20px auto;
      }
      span.label {
        display: block;
        float: left;
        margin: 0px 5px;
      }
      .heightSite {
        width: 100%;
        height: 10px;
        float: left;
      }
      select.select {
        width: 270px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid #999;
        background: none;
      }
    }

  }
  .grey-bg {
    background: #eee;
    width: 100%;
    float: left;
    margin-top: 15px;
    .m-in {
      width: 510px;
      float: left;
      margin: 10px 0 10px 80px;
    }
  }
}

.password-reset {
  .password-tip {
    font-size: 17px;
    margin-left: 80px;
    margin-top: 10px;
    float: left;
  }
  .submit {
    width: 100%;
    float: left;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    img {
      cursor: pointer;
    }
    img:first-child {
      margin-right: 220px;
    }
  }
  .in {
    .in-label {
      min-width: 140px;
    }

  }
  .security-level {
    p {
      width: 50px;
      height: 4px;
      float: left;
      margin-right: 10px;
      background: #999;
      margin-top: 20px;
    }
    p.active {
      background: #ff0000;
    }

  }
  .sec-tip {
    color: #ff0000;
  }
  .p-tip {
    color: #999;
    img {
      display: block;
      float: left;
      margin: 0 10px;
      margin-top: 8.5px;
    }
  }
}

.user-report {
  .report-top {
    width: 100%;
    height: 50px;
    float: left;
    background: #666;
    .report-search {
      font-size: 20px;
      color: #fff;
      .rs-label {
        float: left;
        height: 50px;
        line-height: 50px;
      }
      input {
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #fff;
        background: none;
        display: block;
        float: left;
        height: 30px;
        margin-top: 10px;
        color: #fff;
        text-align: right;
        font-size: 17px;
        padding-right: 10px;
      }
      .rs-search {
        cursor: pointer;
        background: #3399ff;
        color: #fff;
        float: left;
        width: 130px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
        margin: 5px 20px 0 15px;
      }
    }
  }
  .report-wrapper {
    width: 98%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    box-sizing: border-box;
    margin-left: 1%;
    .report-list {
      width: 100%;
      float: left;
      li {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        box-sizing: border-box;
        padding: 0 20px;
        float:left;
        p.pull-right {
          color: #3399ff;
          cursor: pointer;
          a {
            color: #3399ff;
          }
        }
      }
      li:nth-child(2n) {
        background: #ccc;
        border-left: 2px solid #666;
        border-right: 2px solid #666;
      }
      li:nth-child(2n+1) {
        background: #fff;
        border-left: 2px solid #3399ff;
        border-right: 2px solid #3399ff;
      }
    }
    .test-list {
      li {
        padding-right: 0;
        list-style: none;

        p.pull-right {
          background: #009900;
          color: #fff;
          cursor: pointer;
          height: 48px;
          line-height: 48px;
          margin-top: 1px;
          min-width: 110px;
          text-align: center;

        }
      }
    }
  }
  .report-img {
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 30px;
    width: 90%;
  }
}

.pwd_form .level_col{width: 60px;height: 6px;border-radius:10px;display: inline-block;margin-right: 10px;background: #ccc}

.pwd_form .level_col1{background: #fa3e3e;}
.pwd_form .level_col2{background: #ffd400;}
.pwd_form .level_col3{background: #29cc5f;}
